body {
    background-color: #EDAFB8;
}

#main-container {
    display: flex;
}

#controls-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: #393e46;
    border-radius: 20px;
}

.slider {
    width: 200%;
}

.input-container {
    display: flex;
    flex-direction: column;
    font: 18px "Century Gothic", serif;
    color: white;
    align-items: center;
}

input[type="file"] {
    display: none;
}

#file-input-label {
    display: flex;
    /*height: 30px;*/
    align-items: center;
    justify-content: center;
    /*border: black solid 2px;*/
}

#save-button {
    /*border: blue solid 2px;*/
    border: none;
    /*height: 40px;*/
}

.io-button {
    width: 200px;
    background-color: #0ca200;
    border-radius: 5px;
    font: 18px "Century Gothic", serif;
    color: white;
    height: 35px;
}

.io-button:hover {
    background-color: #0f72cb;
    cursor: pointer;
}

#canvas {
    width: 70%;
    height: 96vh;
    background-color: #eeeeee;
    border-radius: 10px
}